body {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
}
h1 {
    margin:  24px auto;
    align-content: center;
}
.buttons {
    margin: 24px auto;
}
#scoreContainer {
    border-style: solid;
    display: flex;
    height: 24px;
    margin: auto;
}